#include "../../infoplist.xcconfig"

INFOPLIST_FILE = $(SRCROOT)/Modules/{{Module}}/Supporting Files/Info.plist

SWIFT_VERSION = $(SWIFT_VERSION_SHARED)
IPHONEOS_DEPLOYMENT_TARGET = $(IOS_VERSION_SHARED)
PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_ID).$(PRODUCT_NAME)
DEVELOPMENT_TEAM = $(DEV_TEAM)

LD_NO_PIE[sdk=*simulator*] = YES
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_ENABLE_OBJC_WEAK = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
CODE_SIGN_STYLE = Automatic
CURRENT_PROJECT_VERSION = 1
DEFINES_MODULE = YES
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
GCC_C_LANGUAGE_STANDARD = gnu11
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
MTL_FAST_MATH = YES
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)
SKIP_INSTALL = YES
TARGETED_DEVICE_FAMILY = 1,2
VERSION_INFO_PREFIX =
VERSIONING_SYSTEM = apple-generic
