#include "../../project.xcconfig"

IPHONEOS_DEPLOYMENT_TARGET = $(IOS_VERSION_SHARED)
SWIFT_VERSION = $(SWIFT_VERSION_SHARED)

DEVELOPMENT_TEAM = $(DEV_TEAM)

SWIFT_MODULE_NAME = $(APP_NAME)
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_STYLE = Automatic
CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/Modules/App/Supporting Files/App.entitlements
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR) $(PROJECT_DIR)/Modules/App
GCC_PREFIX_HEADER = $(SRCROOT)/Modules/App/Sources/App Support/PrefixHeader.pch
SWIFT_OBJC_BRIDGING_HEADER = $(SRCROOT)/Modules/App/Sources/App Support/App-Bridging-Header.h
SWIFT_OBJC_INTERFACE_HEADER_NAME = $(SWIFT_MODULE_NAME)-Swift.h

PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_ID)
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
CLANG_ENABLE_MODULES = YES
CLANG_STATIC_ANALYZER_MODE = deep
CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
DEFINES_MODULE = YES
ENABLE_BITCODE = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
IBSC_NOTICES = NO
IBSC_WARNINGS = NO
INFOPLIST_FILE = $(SRCROOT)/Modules/App/Supporting Files/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
PRODUCT_NAME = $(TARGET_NAME)
PROVISIONING_PROFILE_SPECIFIER =
RUN_CLANG_STATIC_ANALYZER = NO
SWIFT_SWIFT3_OBJC_INFERENCE = Off
TARGETED_DEVICE_FAMILY = 1
SDKROOT = iphoneos
